site_name: Arizona Meshtastic Community
theme:
  name: material
  logo: assets/images/logo.png
  favicon: assets/images/favicon.png
  features:
    - search.suggest
    - search.highlight
    - search.share
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tabs
    - navigation.tabs.sticky
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep orange
      accent: amber
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep orange
      accent: amber
      toggle:
        icon: material/weather-night
        name: Switch to light mode

site_url: https://azmsh.net
repo_name: azmsh-site
repo_url: https://github.com/ArizonaMeshtasticCommunity/azmsh-site

plugins:
  - search
  - encryptcontent: {}
  - offline

markdown_extensions: 
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_javascript:
  - assets/js/nodeData.js # Node Info

copyright: Copyright &copy; 2025 Arizona Meshtastic Community
extra:
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.gg/HrKtyuFEQk
    - icon: fontawesome/brands/github
      link: https://github.com/ArizonaMeshtasticCommunity
